.syntax--source.syntax--python {
  .syntax--meta.syntax--function-call.syntax--generic.syntax--python {
    color: @hue-2;
  }

  .syntax--keyword.syntax--operator.syntax--logical.syntax--python {
    color: @hue-3;
    font-weight: 600;
  }
}
